<ng-container *ngIf="dataPlanet != null">
  <div class="containerInfoDetails">
    <div class="itemsDetails">
      <strong>Name: </strong> {{ dataPlanet.name }}
    </div>
    <div class="itemsDetails">
      <strong>Rotation Period: </strong> {{ dataPlanet.rotation_period }}
    </div>
    <div class="itemsDetails">
      <strong>Orbital Period: </strong> {{ dataPlanet.orbital_period }}
    </div>
    <div class="itemsDetails">
      <strong>Diameter: </strong> {{ dataPlanet.diameter }}
    </div>
    <div class="itemsDetails">
      <strong>Gravity: </strong> {{ dataPlanet.gravity }}
    </div>



  </div>
  <br>
  <div>
    <button type="button" class="btn btn-primary" (click)="goBack()">
      <i class="fa fa-reply-all" aria-hidden="true"></i>
      Back
    </button>
  </div>

</ng-container>
