<ng-container *ngIf="dataPeople != null">
  <div class="containerInfoDetails">
    <div class="itemsDetails">
      <strong>Name: </strong> {{ dataPeople.name }}
    </div>
    <div class="itemsDetails">
      <strong>Height: </strong> {{ getTypeHeight(dataPeople.height) }}
    </div>
    <div class="itemsDetails">
      <strong>Gender: </strong> {{ dataPeople.gender | titlecase }}
    </div>
    <div class="itemsDetails">
      <strong>Birth Year: </strong> {{ dataPeople.birth_year }}
    </div>
    <div class="itemsDetails">
      <strong>Home World: </strong>
      <app-name-by-url [dir]="dataPeople.homeworld"></app-name-by-url>
    </div>


  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="goBack()">
      <i class="fa fa-reply-all" aria-hidden="true"></i>
      Back
    </button>
  </div>

</ng-container>
