<div *ngIf="dataElement.length>0; else existElements">
  <ul class="list-group">
    <ng-container *ngFor="let item of dataElement">
      <li class="list-group-item">
        {{ item.title }} / {{ item.director }} / {{ item.created | date: 'yyyy-MM-dd'}} <a
          [routerLink]="item.episode_id"> More details...</a></li>
    </ng-container>
  </ul>
</div>

<ng-template #existElements>


  <div *ngIf="filterActive == false; else existElementsFilters" class="alert alert-primary" role="alert">
    Loading films...!
    <i class="fa fa-refresh fa-spin  fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <ng-template #existElementsFilters>
    <div class="alert alert-primary" role="alert">
      No data to show...!
    </div>
    <button type="button" class="btn btn-primary" (click)="chargeAllData()">
      <i class="fa fa-reply-all" aria-hidden="true"></i>
      Charge All Data
    </button>
  </ng-template>

</ng-template>
