<div *ngIf="dataElement.length>0; else existElements">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Classification</th>
        <th scope="col">Designation</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of dataElement ; let i = index">
        <tr (click)="selectRow(item)">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.classification | titlecase}} </td>
          <td>{{ item.designation | titlecase }} </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #existElements>

  <div *ngIf="filterActive == false; else existElementsFilters" class="alert alert-primary" role="alert">
    Loading species...!
    <i class="fa fa-refresh fa-spin  fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <ng-template #existElementsFilters>
    <div class="alert alert-primary" role="alert">
      No data to show...!
    </div>
    <button type="button" class="btn btn-primary" (click)="chargeAllData()">
      <i class="fa fa-reply-all" aria-hidden="true"></i>
      Charge All Data
    </button>
  </ng-template>
</ng-template>
